@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/

button,
input,
select,



header {
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;

}

body {
	background-color: rgb(189, 222, 243);

}
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
.currentEntry fieldset {
	display: flex;
	flex-direction: column;
}

.mood {
	width: 25%;
}

.submit {
	width: 25%;
}
